env
logs
__pycache__
airflow-webserver.pid
standalone_admin_password.txt
*.csv
db.duckdb*
airflow.db
.env.dev
.DS_Store
data
.vercel
lambda.txt
db/duckdb/db.duckdb_old
db/duckdb/tmp/load.sql
.gitignore
deployments
.venv
